.mouse{
    width: 8em;
    height: 13em;
    font-size: 3px;
    border: 1em solid #fff;
    border-radius: 4em;
    position: relative;
}
.mouse::before{
    content: '';
    display: block;
    width: 1em;
    height: 1.6em;
    position: absolute;
    top: 2.5em;
    left: 50%;
    transform: translatex(-50%);
    background-color: #fff;
    border-radius: 0.5em;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% {
        transform: translate(-50%, 0);
        opacity: 1;
        /*top: 2.5em;*/
        /*background-color: #fff;*/
    }
    50%{
        opacity: 1;
        /*background-color: #fff;*/
    }
    100%{
        transform: translate(-50%, 300%);
        opacity: 0;
        /*top: 7.5em;*/
        /*background-color: transparent;*/
    }
}